
/* BottomNav.css */
.bottom-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;

    bottom: 2.5%; /* Add some space between the bar and the bottom of the screen for floating effect */
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 90%; /* for floating effect; not connected to the borders of the screen */
    background-color: #ffffff; /* Light background for better contrast */
    padding: 4% 0%;
    z-index: 1;
    border-radius: 25px; /* Rounded Corners */
    box-shadow: 2px 12px 10px rgba(0, 0, 0, 0.2); /* add box shadow effect */ /* horizontal vertical blur color(x, y, z, q => color and transparancy of shadow) */
}

.nav-item {
    flex-basis: 20%;
    text-align: center;
    text-decoration: none;
    color: #cacfd0; /* Default icon color */
    padding: 0 10px;
}

.nav-item i {
    font-size: 20px; /* Icon size */
}

/* Default style for all nav items when not active */
.nav-item i, .nav-item span {
    color: #eae4e4; /* Dark grey color for inactive items */
}

/* Active style overrides */
.nav-item.active i, .nav-item.active span {
    color: #a47983; /* Pink color for active items */
}

.nav-item span {
    display: block;
    font-size: 12px;
    color: inherit; /* Ensures text color matches the icon color */
}

/* Specific styles for the 'Sell' button when active */
.nav-item.sell-active {
    background-color: #f39c12; /* Background color for active sell button */
    border-radius: 18px; /* Rounded corners for the button */
    padding: 8px 16px; /* Padding to increase the size of the active area */
    box-shadow: 0 2px 4px rgba(0,0,0,0.25); /* Shadow for 3D effect */
}

.nav-item.sell-active i,
.nav-item.sell-active span {
    color: #2c3e50; /* Text and icon color contrast against the active background */
}

