/* BottomNav.css */
.bottom-nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff; /* Light background for better contrast */
    padding: 25px 0;
    z-index: 1000;
    box-shadow: 0 -2px 25px rgba(0, 0, 0, 0.1); /* add box shadow effect */
}

.nav-item {
    text-align: center;
    text-decoration: none;
    color: #cacfd0; /* Default icon color */
}

.nav-item i {
    font-size: 20px; /* Icon size */
}

/* Default style for all nav items when not active */
.nav-item i, .nav-item span {
    color: #eae4e4; /* Dark grey color for inactive items */
}

/* Active style overrides */
.nav-item.active i, .nav-item.active span {
    color: #a47983; /* Pink color for active items */
}

.nav-item span {
    display: block;
    font-size: 12px;
    color: inherit; /* Ensures text color matches the icon color */
}

/* Specific styles for the 'Sell' button when active */
.nav-item.sell-active {
    background-color: #f39c12; /* Background color for active sell button */
    border-radius: 18px; /* Rounded corners for the button */
    padding: 8px 16px; /* Padding to increase the size of the active area */
    box-shadow: 0 2px 4px rgba(0,0,0,0.25); /* Shadow for 3D effect */
}

.nav-item.sell-active i,
.nav-item.sell-active span {
    color: #2c3e50; /* Text and icon color contrast against the active background */
}
