/* General body styles */
body {
    font-family: Arial, sans-serif; /* Set the default font */
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100vh; /* Full viewport height */
}

/* Back link styling */
.back-link {
    text-decoration: none; /* Remove underline from the link */
    display: inline-block; /* Display link as an inline-block element */
    padding: 8px 16px; /* Padding around the link */
}

/* Main container for the ID page */
.selling1 {
    background-color: #fff; /* White background */
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
   
    padding-top: 20%; /* Padding at the top */
    border-radius: 0; /* No rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    box-sizing: border-box; /* Include padding and border in element's width and height */
    overflow: auto; /* Enable scrolling if content overflows */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Disable horizontal scrolling */

    padding-bottom: 20%; /* Extra padding at the bottom */
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between; /* Space between header elements */
    align-items: center; /* Center content vertically */
    padding: 10px 0; /* Padding inside the header */
    margin-bottom: 25px; /* Space below the header */
}

/* Image within the header */
.header img {
    border-radius: 50%; /* Make the image circular */
    width: 40px; /* Set the width of the image */
    height: 40px; /* Set the height of the image */
}

/* Upper navigation bar */
.uppernav1 {
    display: flex;
    align-items: center; /* Align items vertically */
    position: fixed; /* Fix the position to the top of the page */
    justify-content: space-between; /* Space between navigation items */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    width: 100%; /* Full width of the container */
    background-image: linear-gradient(to bottom, #e3c6cd, #ffffff); /* Gradient background */
    height: 10vh; /* 10% of the viewport height */
}

/* Navigation item */
.nav-item {
    flex: 0 0 auto; /* Prevents the back link from growing or shrinking */
}

/* Back icon within the navigation */
.back-icon {
    color: black; /* Black color for the icon */
    font-size: 1.5rem; /* Font size */
}

/* Back link within the navigation */
.back-link {
    color: black; /* Black color for the link */
}

/* Navigation title */
.nav-title {
    flex: 1 0 auto; /* Allows the title to take up the remaining space and center itself */
}

/* Heading (h1) styles */
h1 {
    font-family: 'Raleway', sans-serif; /* Font family */
    font-weight: 700; /* Bold text */
    font-size: 28px; /* Font size */
    color: black; /* Black text color */
    align-items: center; /* Center align text */
    margin-right: 21px;
}

/* Page description styles */
.page-description {
    padding: 10px; /* Padding around the description */
    font-size: 15px; /* Font size */
    font-style: italic; /* Italicized text */
    margin-bottom: 10px; /* Space below the description */
    color: black; /* Black text color */
}

/* Form group styles */
.form-group {
    padding: 2.5%; /* Padding around the form group */
    padding-bottom: 5%; /* Extra padding at the bottom */
}

/* Label within the form group */
.form-group label {
    font-weight: bold; /* Bold label text */
    margin-bottom: 1%; /* Space below the label */
    padding: 2.5%; /* Padding around the label */
    display: block; /* Block-level element */
}

/* First form group styles */
.form-group:first-child {
    margin-top: 2.5%; /* Margin at the top */
}

/* Input, textarea, and select elements within the form group */
.form-group input, .form-group textarea, .form-group select {
    width: 100%; /* Full width of the container */
    padding: 10px; /* Padding inside the elements */
    border: 1px solid #e0e0e0; /* Light gray border */
    border-radius: 25px; /* Rounded corners */
    background-color: #f2f2f2; /* Light gray background */
    box-sizing: border-box; /* Include padding and border in element's width and height */
    box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Textarea styles */
.form-group textarea {
    resize: none; /* Prevent textarea resizing */
}

/* Post button styles */
.post-button {
    background-color: #3d3d3d; /* Dark background color */
    color: #fff; /* White text color */
    padding: 5px; /* Padding inside the button */
    border-radius: 25px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor to indicate clickability */
    width: 100%; /* Full width of the parent container */
    max-width: 500px; /* Maximum width to prevent the button from stretching too wide */
    margin: 0 auto; /* Center the button horizontally */
    display: block; /* Block-level element */
}

/* Form group with a checkbox */
.formgroupalone {
    margin-top: 20px; /* Space above the group */
    display: flex; /* Display contents in a row */
    align-items: center; /* Center content vertically */
    margin-bottom: 15px; /* Space below the group */
    margin-top: -5px; /* Adjust margin at the top */
}

/* Label for the checkbox */
.checkbox-label {
    display: flex; /* Align checkbox and text in a row */
    align-items: center; /* Center content vertically */
    cursor: pointer; /* Make the entire label clickable */
}

/* Checkbox input styling */
input[type="checkbox"] {
    margin-right: 20px; /* Space between the checkbox and the text */
}

/* Focus state for the post button */
.post-button:focus {
    background-color: #3d3d3d; /* Dark background color */
    outline: none; /* Remove default outline */
}

/* Disabled state for the post button */
.post-button:disabled {
    opacity: 0.5; /* Lower opacity to indicate disabled state */
    cursor: not-allowed; /* Change cursor to indicate it is not clickable */
}

/* Media query for medium-sized screens */
@media (min-width: 768px) {
    .productcard {
        width: calc(33.33% - 13.33px); /* Three cards per row */
        height: 340px; /* Set height of the card */
    }

    .productimage {
        height: 260px; /* Set height of the image */
    }
}

/* Media query for large-sized screens */
@media (min-width: 1024px) {
    .productcard {
        width: calc(25% - 15px); /* Four cards per row */
        height: 380px; /* Set height of the card */
    }

    .productimage {
        height: 300px; /* Set height of the image */
    }
}

/* Media query for extra-large screens */
@media (min-width: 1440px) {
    .productcard {
        width: calc(20% - 16px); /* Five cards per row */
        height: 380px; /* Set height of the card */
    }

    .productimage {
        height: 320px; /* Set height of the image */
    }
}

/* Add this to your CSS file or in a <style> tag */
.success-message, .error-message {
    padding-left: 20px; /* Add 20px padding on the left */
    color: green; /* Example for success messages */
  }
  
  .error-message {
    color: red; /* Example for error messages */
  }
  