/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* General body styles */
body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

/* Back link styling */
.back-link {
    text-decoration: none;
    display: inline-block; 
    padding: 8px 16px; 
}

/* Main container for the ID page */
.selling1 {
    background-color: #fff; 
    width: 100vw; 
    height: 100vh; 
   
    padding-top: 20%; 
    border-radius: 0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
    overflow: auto; 
    overflow-y: auto;
    overflow-x: hidden; 

    padding-bottom: 20%; 
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px 0; 
    margin-bottom: 25px; 
}

/* Image within the header */
.header img {
    border-radius: 50%; 
    width: 40px; 
    height: 40px; 
}

/* Upper navigation bar */
.uppernav1 {
    display: flex;
    align-items: center; 
    position: fixed; 
    justify-content: space-between; 
    top: 0;
    left: 0; 
    width: 100%; 
    background-image: linear-gradient(to bottom, #e3c6cd, #ffffff); 
    height: 10vh; 
}

/* Navigation item */
.nav-item {
    flex: 0 0 auto; 
}

/* Back icon within the navigation */
.back-icon {
    color: black;
    font-size: 1.5rem; 
}

/* Back link within the navigation */
.back-link {
    color: black; /* Black color for the link */
}

/* Navigation title */
.nav-title {
    flex: 1 0 auto; /* Allows the title to take up the remaining space and center itself */
}

/* Heading (h1) styles */
h1 {
    font-family: 'Raleway', sans-serif; 
    font-weight: 700; 
    font-size: 28px; 
    color: black;
    align-items: center; 
    margin-right: 21px;
}

/* Page description styles */
.page-description {
    padding: 10px; 
    font-size: 15px;
    font-style: italic; 
    margin-bottom: 10px;
    color: black; 
}

/* Form group styles */
.form-group {
    padding: 2.5%;
    padding-bottom: 5%; 
}

/* Label within the form group */
.form-group label {
    font-weight: bold;
    margin-bottom: 1%; 
    padding: 2.5%; 
    display: block; 
}

/* First form group styles */
.form-group:first-child {
    margin-top: 2.5%; 
}

/* Input, textarea, and select elements within the form group */
.form-group input, .form-group textarea, .form-group select {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #e0e0e0; 
    border-radius: 25px; 
    background-color: #f2f2f2; 
    box-sizing: border-box;
    box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.1); 
}

/* Textarea styles */
.form-group textarea {
    resize: none; 
}

/* Post button styles */
.post-button {
    background-color: #3d3d3d; 
    color: #fff; 
    padding: 5px; 
    border-radius: 25px; 
    cursor: pointer;
    width: 100%; 
    max-width: 500px; 
    margin: 0 auto; 
    display: block; 
}

/* Form group with a checkbox */
.formgroupalone {
    margin-top: 20px; 
    display: flex; 
    align-items: center; 
    margin-bottom: 15px;
    margin-top: -5px; 
}

/* Label for the checkbox */
.checkbox-label {
    display: flex; 
    align-items: center; 
    cursor: pointer; 
}

/* Checkbox input styling */
input[type="checkbox"] {
    margin-right: 20px;
}

/* Focus state for the post button */
.post-button:focus {
    background-color: #3d3d3d; 
    outline: none; 
}

/* Disabled state for the post button */
.post-button:disabled {
    opacity: 0.5;
    cursor: not-allowed; 
}

/* Media query for medium-sized screens */
@media (min-width: 768px) {
    .productcard {
        width: calc(33.33% - 13.33px); /* Three cards per row */
        height: 340px; /* Set height of the card */
    }

    .productimage {
        height: 260px; /* Set height of the image */
    }
}

/* Media query for large-sized screens */
@media (min-width: 1024px) {
    .productcard {
        width: calc(25% - 15px); /* Four cards per row */
        height: 380px; /* Set height of the card */
    }

    .productimage {
        height: 300px; /* Set height of the image */
    }
}

/* Media query for extra-large screens */
@media (min-width: 1440px) {
    .productcard {
        width: calc(20% - 16px); /* Five cards per row */
        height: 380px; /* Set height of the card */
    }

    .productimage {
        height: 320px; /* Set height of the image */
    }
}

/* colors of errors and successful commands */
.success-message, .error-message {
    padding-left: 20px; 
    color: green; 
  }
  
  .error-message {
    color: red;
  }
  