body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.topsection {
    background-image: linear-gradient(to bottom, #efcbd4, #ffffff);
    justify-content: flex-start;
    min-height: 10vh;  
    padding: 15px;
    text-align: left; /* Center the welcome text and search bar */
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-bottom: 7px;
    width: 100vw;
  }
.uppernav {
    height: 10vh; /* 10% of the viewport height */
    width: 100vw;
    padding: 15px 20px;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  h1 {
    font-family: 'Oswald', serif; /* Apply Montserrat to h1 */
    font-weight: 700;
    font-size: 28px;
    color: black;
  }
  .nav-logo {
    width: 40px; /* Set width equal to height to form a square */
    height: 40px; /* Set height to make the logo a square */
    margin-left: -10px; /* Adjust the value to push the logo to the left */
    object-fit: contain; /* Ensures the logo fits within the square without being cropped */
    border-radius: 5px; /* Slightly rounds the corners */
  }


a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

    a:hover {
        background-color: #ddd;
        color: black;
    }

.selling {
    background-color: #fff;
    width: 100vw; /* Set width to fit the screen width of 430px */
    height: 100vh;

    overflow-y: auto;
    overflow-x: hidden;

    padding-bottom: 20%;
}


/* Header Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
   
    margin-bottom: 25px;
}

.header img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}




/* Form Group Styles */
.form-group {
    margin-bottom: 25px;
    margin-top: 10px;
}

.form-group label {
    font-weight: bold; /* Bold label text */
    margin-bottom: 20px; 
}

.form-group:first-child {
    margin-top: 20px; /* Increase margin-top as needed */
}

.form-group input, .form-group textarea, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f1e4e7;
    box-sizing: border-box;
}

.form-group textarea {
    resize: none; /* Prevent textarea resizing */
}


/* Post Button Styles */
.post-button {
    background-color: #3d3d3d;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.formgroupalone {
  margin-top: 20px;
  display: flex; /* Ensures contents are lined up in a row */
  align-items: center; /* Vertically centers the checkbox and label text */
  margin-bottom: 15px; /* Adds space below the group for separation */
  margin-top: -5px;
}

.checkbox-label {
  display: flex; /* Aligns the checkbox and text in a row */
  align-items: center; /* Ensures the checkbox and text are aligned in the middle */
  cursor: pointer; /* Makes the entire label clickable */
}

input[type="checkbox"] {
  margin-right: 20px; /* Space between the checkbox and the text */
}
.post-button:focus {
    background-color: #3d3d3d;  
    outline: none;  
}


.post-button:disabled {
    opacity: 0.5; 
    cursor: not-allowed; 
  }
