/* General Styles */
body {
    font-family: Arial, sans-serif; /* Sets the default font for the page */
    display: flex;
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    height: 100vh; /* Full viewport height */
}

/* Main container for the selling page */
.selling {
    background-color: #fff; /* White background */
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
    overflow: auto; /* Enable scrolling if content overflows */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Disable horizontal scrolling */
    padding-bottom: 20%; /* Extra padding at the bottom for spacing */
}

/* Top section of the page, including navigation and header */
.topsection {
    background-image: linear-gradient(to bottom, #efcbd4, #ffffff); /* Gradient background */
    justify-content: flex-start; /* Aligns content to the start of the flex container */
    min-height: 10vh; /* Minimum height for the top section */
    padding: 15px; /* Padding inside the top section */
    text-align: left; /* Aligns text to the left */
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    justify-content: left; /* Aligns children to the left */
    margin-bottom: 7px; /* Space below the top section */
    width: 100vw; /* Full viewport width */
}

/* Navigation bar at the top of the page */
.uppernav {
    height: 10vh; /* 10% of the viewport height */
    width: 100vw; /* Full viewport width */
    padding: 15px 20px; /* Padding inside the navigation bar */
    background-color: transparent; /* Transparent background */
    display: flex;
    justify-content: flex-start; /* Aligns content to the left */
    align-items: center; /* Centers content vertically */
}

.welcome-header {
 
    padding-right: 15px;  /* Padding on the right */
  
    padding-left: 15px;   /* Padding on the left */
}
/* Logo inside the navigation bar */
.nav-logo {
    width: 40px; /* Logo width */
    height: 40px; /* Logo height */
    margin-left: -10px; /* Negative margin to push the logo to the left */
    object-fit: contain; /* Ensures the logo fits within its container without cropping */
    border-radius: 5px; /* Slightly rounds the corners of the logo */
}

/* Form group styling for input fields, textareas, and selects */
.form-group {
    padding: 2.5%; /* Padding inside form groups */
}

/* Label styling within form groups */
.form-group label {
    font-weight: bold; /* Bold text for labels */
    margin-bottom: 2.5%; /* Space below the label */
    padding: 2.5%; /* Padding around the label */
    display: block; /* Block-level element to take full width */
}

/* Styling for the first form group */
.form-group:first-child {
    margin-top: 2.5%; /* Margin at the top of the first form group */
}

/* Input, textarea, and select field styling */
.form-group input, .form-group textarea, .form-group select {
    width: 100%; /* Full width to fit within the form group */
    padding: 10px; /* Padding inside input fields */
    border: 1px solid #e0e0e0; /* Light gray border */
    border-radius: 25px; /* Rounded corners */
    background-color: rgba(209, 207, 207, 0.5); /* Light background color */
    box-sizing: border-box; /* Ensures padding and borders are included in the element's total width and height */
    box-shadow: 2px 6px 20px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Prevent textarea resizing */
.form-group textarea {
    resize: none; /* Disable resizing for textareas */
}

/* Upload trigger button styling */
.upload-trigger {
    background-color: transparent; /* Transparent background */
    border: none; /* No border */
    font-size: 24px; /* Large font size */
    cursor: pointer; /* Pointer cursor on hover */
    vertical-align: middle; /* Aligns the button with surrounding text */
}

/* Container for image previews */
.image-previews-container {
    display: flex;
    flex-wrap: wrap; /* Wrap images to the next line if necessary */
    gap: 20px; /* Space between image previews */
    margin-top: 10px; /* Space above the image previews */
    overflow: hidden; /* Hide any overflow content */
    padding: 10px; /* Padding around the container */
    justify-content: space-around; /* Distributes space evenly around each item */
    align-items: center; /* Centers items vertically */
    align-content: center; /* Centers content vertically within the flex container */
    border: 2px solid #ccc; /* Light gray border */
    background-color: #f7f7f7; /* Light gray background */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}

/* General form styling */
form {
    padding: 5px; /* Padding inside the form */
    margin-top: -30px; /* Negative margin to adjust the position */
}

/* Individual image preview styling */
.image-preview {
    width: 80px; /* Width of the image preview */
    height: 80px; /* Height of the image preview */
    position: relative; /* Position relative to the container */
    border-radius: 4px; /* Slightly rounded corners */
    overflow: hidden; /* Hide overflow content */
}

/* Image styling within the preview */
.image-preview img {
    width: auto; /* Automatic width to maintain aspect ratio */
    height: 100%; /* Full height of the preview */
    object-fit: cover; /* Ensures images are not distorted */
}

/* Styling for the text when no images are available */
.no-images-text {
    text-align: center; /* Center the text horizontally */
    font-style: italic; /* Italicize the text */
    color: #888; /* Mild gray color for less prominence */
    width: 100%; /* Full width to fill the container */
    padding: 10px; /* Padding around the text */
}

/* Remove image button styling */
.remove-image {
    position: absolute; /* Position relative to the image preview */
    top: 1px; /* Position near the top */
    right: 1px; /* Position near the right */
    background-color: #fff; /* White background */
    border: none; /* No border */
    border-radius: 50%; /* Round button */
    width: 18px; /* Small width for the button */
    height: 18px; /* Small height for the button */
    color: #f00; /* Red color for the remove icon */
    font-weight: bold; /* Bold text */
    cursor: pointer; /* Pointer cursor on hover */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0; /* Remove padding to fit the button within the area */
    font-size: 15px; /* Font size for visibility */
}

/* Post button styling */
.post-button {
    background-color: #048c7f; /* Dark green background */
    color: #fff; /* White text color */
    padding: 9px 5px; /* Padding inside the button */
    border-radius: 25px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    width: 140px; /* Fixed width for the button */
    margin: 0 auto; /* Center the button horizontally */
    display: block; /* Block-level element to take full width */
}

/* Progress bar styling */
.progress-bar {
    height: 100vh; /* Full viewport height */
    background-color: #3d3d3d; /* Dark background color */
    border-radius: 5px; /* Rounded corners */
    transition: width 0.3s ease; /* Smooth width transition */
}

/* Styling for form groups with a checkbox */
.formgroupalone {
    margin-top: 20px; /* Space above the group */
    display: flex; /* Display contents in a row */
    align-items: center; /* Vertically center the checkbox and label */
    margin-bottom: 15px; /* Space below the group */
    margin-top: -5px; /* Adjust position relative to surrounding elements */
}

/* Label styling for checkboxes */
.checkbox-label {
    display: flex; /* Align checkbox and text in a row */
    align-items: center; /* Vertically center the checkbox and text */
    cursor: pointer; /* Make the entire label clickable */
}

/* Styling for checkbox inputs */
input[type="checkbox"] {
    margin-right: 20px; /* Space between the checkbox and the text */
}

/* Focus state for the post button */
.post-button:focus {
    background-color: #3d3d3d; /* Darker background on focus */
    outline: none; /* Remove default outline */
}

/* Disabled state for the post button */
.post-button:disabled {
    opacity: 0.5; /* Lower opacity to indicate disabled state */
    cursor: not-allowed; /* Change cursor to indicate it is not clickable */
}

/* Success message styling */
.message-success {
        color: green;
        font-size: 18px;
        font-weight: bold;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center; /* Center the message horizontally */
   
        margin-bottom: 60%;
}

/* Error message styling */
.message-error {
        color: red;
        font-size: 18px;
        font-weight: bold;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center; /* Center the message horizontally */
        margin-bottom: 60%;
}



/* Styling for the previous and next buttons */
.prev-button, .next-button {
    position: relative; /* Elements will scroll with the page */
    background-color: transparent; /* No background color */
    border: none; /* No border */
    color: inherit; /* Inherit text color from parent */
    cursor: pointer; /* Pointer cursor to indicate clickability */
    font-size: 1.5rem; /* Large font size for the button */
}

/* Specific styling for the previous button */
.prev-button {
    float: left; /* Position the previous button on the left */
}

/* Specific styling for the next button */
.next-button {
    float: right; /* Position the next button on the right */
}

/* Container for the progress bar */
.progress-bar-container {
    position: relative; /* Element will scroll with the page */
    width: 90%; /* Set the width of the progress bar container */
    height: 10px; /* Height of the progress bar */
    background-color: #e0e0e0; /* Light gray background */
    border-radius: 5px; /* Rounded corners */
    overflow: hidden; /* Hide overflow content */
    margin-left: auto; /* Center the progress bar horizontally */
    margin-right: auto; /* Center the progress bar horizontally */
}

/* Bold label styling for form fields */
.bold-label {
    display: block; /* Ensures the label takes the full width */
    margin-bottom: 10px; /* Space between label and input */
    font-weight: bold; /* Makes label text bold */
}

/* Container for the file upload section */
.upload-container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Positions the plus button to the right */
    padding: 10px; /* Padding inside the container */
}

/* Styling for the upload trigger button */
.upload-trigger {
    background-color: rgb(61, 61, 61); /* Dark gray background */
    color: white; /* White text color */
    border: none; /* No border */
    padding: 8px 16px; /* Padding inside the button */
    border-radius: 50%; /* Makes the button round */
    font-size: 24px; /* Large font size for visibility */
    cursor: pointer; /* Pointer cursor on hover */
}

/* Hover effect for the upload trigger button */
.upload-trigger:hover {
    background-color: rgb(61, 61, 61); /* Slightly darker background on hover */
}

/* Styling for the welcome page */
.welcome-page {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    margin-top: 60%; /* Space above the welcome page content */
    border-radius: 8px; /* Rounded corners for the container */
}

/* Title styling for the welcome page */
.welcome-title {
    font-size: 18px; /* Font size */
    color: #333; /* Dark gray color */
    margin-bottom: 10px; /* Space below the title */
}

/* Description styling for the welcome page */
.welcome-description {
    font-size: 14px; /* Font size */
    color: #666; /* Medium gray color */
    margin-bottom: 15px; /* Space below the description */
}

/* Footer section of the welcome page */
.welcome-footer {
    display: flex;
    justify-content: flex-end; /* Aligns children (the button) to the right */
    width: 100%; /* Ensures the container spans the full width of its parent */
    padding-right: 20px; /* Optional padding for spacing from the edge */
}

/* Start button styling on the welcome page */
.start-button {
    background: #fff; /* White background */
    color: #000; /* Black text color */
    font-weight: 600; /* Bold text */
    border: none; /* No border */
    padding: 12px 20px; /* Padding inside the button */
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 25px; /* Rounded corners */
    font-size: 18px; /* Font size */
    border: 2px solid transparent; /* Transparent border */
    transition: 0.3s ease; /* Smooth transition for hover effects */
    margin-top: 5%; /* Space above the button */
    margin-left: auto; /* Pushes the button to the right */
}
