/* General Styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}


.user-profile-container { /* container of the entire page content */
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: clip;
  width: 100vw;
}


.top-section { /* gradient of top of the page */
  background-image: linear-gradient(to bottom, #efcbd4, #ffffff);
  justify-content: flex-start;
  top: 0;
  min-height: 10vh;  
  padding: 15px;
  text-align: left; /* Center the welcome text and search bar */
  display: flex;
  flex-direction: column;
  justify-content: left;
}


.profile-header-container {
  display: flex;
  align-items: center;
}
.profile-image { 
  border-radius: 25px; /* Circular profile picture */
  width: 80px; /* Increased size */
  height: 80px;
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.2); /* Add shadow for better focus */
}
.profile-text {
  display: flex;
  flex-direction: column;
  padding-left: 10%; /* move profile text (username, nickname) to the right */
}
.username { 
  font-size: 28px;
  font-weight: bold;
  color: #000000
}
.nickname {
  font-size: 18px;
  font-weight: bold; 
  font-style: oblique 15deg;
  color: grey;
}
.major { 
  font-size: 18px;
  font-weight: bold; 
  font-style: oblique 15deg;
  color: grey;
}

.edit-section {
  background-color: #ffffff;
  display: flex;
  flex-direction: column; /* Change to column for stacking elements */
  align-items: center;
}
.actions-container {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Adjust the width as needed */
  margin-bottom: 20px; /* Add some margin to the bottom */
}
.action-button { /* EDIT BUTTON */
  background-color: #f1e4e7;
  color: #000;
  border-radius: 25px;
  cursor: grab;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  flex: 1;
  margin: 5px; /* Increased margin between buttons */
}
.sign-out-button {
  background-color: #f1e4e7;
  color: #000;
  border-radius: 25px;
  cursor: wait;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  flex: 1;
  margin: 5px; /* Increased margin between buttons */
}
.delete-button {
  background-color: #f1e4e7;
  color: #000;
  border-radius: 25px;
  cursor: wait;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  flex: 1;
  margin: 5px; /* Increased margin between buttons */
}


.about-section {
  background-color: #ffffff;
  display: flex;
  flex-direction: column; /* Change to column for stacking elements */
  padding: 2.5%; /* padding from the sides of the screen mainly */

  text-align: left;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  border-top: 1px solid #f1e4e7; /* Top border to separate sections */
  border-bottom: 1px solid #f1e4e7; /* Bottom border for the line */
}
.aboutText {
  font-weight: bold;
  font-size: 26px;
  padding: 2.5%
}
.about-input {
  padding: 2.5%;
  font-size: 16px;
  border: 1px solid #ccc; /* border of the rounded corners box */
  border-radius: 25px;
  background-color: #f2f2f2; /* Softer background */
}


.my-items { /* My Items title */
  font-weight: bold;
  font-size: 26px;
  padding: 5% /* for parallelism with "About You" section | 2.5% padding + 2.5% .about-section padding */
}


.my-items-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 2.5%;
}

.productcard1 {
  border-radius: 8px;
  overflow: hidden;
 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 45%; /* Adjust width if needed to match container */
  height: 260px;
}
.imagecarousel1 {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  align-items: center; 
  justify-content: center;
}
.productinfo1 {
  padding: 10px;
  text-align: center;
  background: #f9f9f9;
  border-top: 1px solid #eee;
  /* from HomePage: */
  margin-left: 7px;
  text-align: center;
  height: 10px;
  text-align: left;
}
.productimage { /* see in HomePage where this div is added? la tzida hone tzabit 7ajem lsoura*/
  width: 100%;
  height: 192px;
  object-fit: cover;
  border-radius: 8px;
} 



.edit-form {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.edit-form input, .upload-button {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #ffffff; /* White background */
  color: #000; /* Black text */
}

.upload-button {
  cursor: pointer; /* Indicates that the element is clickable */
  text-align: center;
  Color: black;
}

.upload-button .plus-icon {
  color: #000; /* Black color for the plus icon */
  margin-left: 5px; /* Space between text and icon */
}

.upload-button:focus, .upload-button:active {
  background-color: #ffffff; /* Ensure background stays white */
  color: #000; /* Ensure text stays black */
  border: 1px solid #ccc; /* Keep the border the same */
}

.upload-button:hover {
  background-color: #e7e7e7; /* Slightly darker background on hover */
}

.no-items-message {
  margin-top: 10px;
  font-size: 14px;
  color: grey;
}

.nickname {
  font-size: 18px;
  color: grey;
}

.no-items-message a {
  color: black;
  text-decoration: underline;
}

.product-image {
  max-width: 100%;
  height: 90px;
  flex-shrink: 0;
  display: block;
  

}

.product-info h3 {
  margin: 0;
  font-size: 1.2em;
  color: #333;
}

.product-info p {
  font-size: 1em;
  color: #666;
  margin: 5px 0 0;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active {
  background-color: #717171; /* Active dot color */
}

/* Add hover effect for dots */
.dot:hover {
  background-color: #555;
}
